@import url('https://fonts.googleapis.com/css2?family=Ramabhadra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quantico&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #616B7A;
}

.container {
    margin: 100px auto;
    width: 327px;
    height: 166px;
    left: 24px;
    top: 287px;
    background: #282F39;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 30px;
}

.clock {
    font-family: 'Quantico', sans-serif;
    font-size: 40px;
    padding-bottom: 10px;
    text-align: center;
    color: rgba(247, 247, 247, 0.89);
    background: #111520;
    box-shadow: 0px 2px 1px rgba(116, 116, 116, 0.4), inset 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

.days {
    font-family: 'Ramabhadra', sans-serif;
    font-size: 12px;
    padding-top: 10px;
    color: rgba(106, 106, 106, 0.35);
}

#hour, #minute, #second {
    text-shadow:
    0 0 1px rgba(196, 196, 196, 0.767),
    0 0 1px rgba(196, 196, 196, 0.767),
    0 0 1px rgba(196, 196, 196, 0.767),
    0 0 4px rgba(0, 255, 157, 0.61),
    0 0 4px rgba(0, 255, 255, 0.719),
    0 0 4px rgba(0, 255, 255, 0.719),
    0 0 4px rgba(0, 255, 255, 0.719),
    0 0 4px rgba(0, 255, 255, 0.719);
}
